@model PagedList.IPagedList<FA.JustBlog.Core.Post>

@{
    ViewData["Title"] = "Latest Posts";
}

<h1>Latest Posts!</h1>

<p>
    <a asp-action="Index">Show All Posts</a>
</p>

<ul>
    @foreach (var item in Model)
    {
        <hr />
        @*<li>
            <div>
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            </div>
            <div>
                <p>
                    Posted @Html.DisplayFor(modelItem => item.PublishedDate) with rate @Html.DisplayFor(modelItem => item.Rate) by
                    @Html.DisplayFor(modelItem => item.ViewCount) views
                </p>
            </div>
            <div>
                <h5>@Html.DisplayFor(modelItem => item.ShortDescription)</h5>
            </div>
        </li>*@

        <div>
            <h2><a asp-area="" asp-controller="Post" asp-action="Detail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h2>
        </div>

        <div>
            <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:larger">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
        </div>

        <div>
            <p style="font-size:smaller; color:gray">
                Posted @Html.DisplayFor(modelItem => item.PublishedDate) with rate @Html.DisplayFor(modelItem => item.Rate) by
                @Html.DisplayFor(modelItem => item.ViewCount) views
            </p>
        </div>

        <div>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { onclick = "return confirm('Are you sure?')" })
        </div>
    }
</ul>

<div class="pagination">
    @if (Model.HasPreviousPage)
    {
        <a href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
    }

    @for (int i = 1; i <= Model.PageCount; i++)
    {
        if (Model.PageNumber == i)
        {
            <span>@i</span>
        }
        else
        {
            <a href="@Url.Action("Index", new { page = i })">@i</a>
        }
    }

    @if (Model.HasNextPage)
    {
        <a href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
    }
</div>

@*<style>
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    div {
        margin-bottom: 5px;
    }

        div h2 {
            color: #52B2BF;
        }
</style>*@
