@model IEnumerable<FA.JustBlog.Models.TagViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-title">All Tags!</h1>

<p>
    <a asp-action="Create">Create New Tag</a>
</p>

@foreach (var item in Model)
{
    <hr />

    <div>
        <h2><a asp-area="Admin" asp-controller="AdminTag" asp-action="Detail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></h2>
    </div>

    <div>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">@Html.DisplayFor(modelItem => item.Description)</p>
    </div>


    <div>
        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { onclick = "return confirm('Are you sure?')" })
    </div>

}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlSlug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detail", "Detail", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new {onclick="return confirm('Are you sure?')"})
                </td>
            </tr>
        }
    </tbody>
</table>*@


